<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" thread-count="5" parallel="tests">

    <test name="Testing Singleton for Chrome">
        <parameter name="Browser" value="chrome" />
        <classes>
            <class name="testCases.sampleTestSingleton"/>
        </classes>
    </test>
    <test name="Testing Singleton for Safari">
        <parameter name="Browser" value="safari" />
        <classes>
            <class name="testCases.sampleTestSingleton"/>
        </classes>
    </test><!-- Test -->
</suite> <!-- Suite -->
